* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Frijole", system-ui;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    /* color: #920000; */
    border: 2px dotted #000000;

    height: 100vh;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: flex-start;
    /* Align to top vertically */
    text-align: center;
    background-image: url('https://i.pinimg.com/originals/70/eb/6b/70eb6baec5e424fbcc4d9fd40040b1d3.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    
    padding: 20px;
}

header {
    /* background-color: #550000; */
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px dotted #000000;

}

header h1 {
    font-size: 2.5rem;
    
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.art-panel {
    /* background-color: rgba(rgb(94, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0); */
    border: 2px dotted #000000;
    
    color: #474545;
    border-radius: 10px;
    padding: 20px;
    margin: 5%;
    text-align: center;
    max-width: 200px;
    transition: background-color 0.3s, transform 0.3s;
}

.art-panel img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.art-panel p {
    font-size: 1.1rem;
    font-weight: bold;
}

.art-panel:hover {
    transform: scale(1.05);
}

#counter,
button {
    margin: 20px;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px dotted #000000;

    cursor: pointer;
}
.buttons{
    border: 2px dotted #000000;
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0);
}
button:hover {
    background-color: #555;
}
.viewed {
    background-color: rgba(247, 0, 0, 0.1);
}
.active {
    background-color: red;
    color: white;
}